html {
  scroll-behavior: smooth;
}

.Nav-bar {
  background-color: #202124;
  border-bottom: 1px solid #121111;

  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}

.logo {
 margin-top: -11px;
}

.searchBar {
  color: #ffffff;
  display: flex;
  border: 1px solid #cac6c6;

  margin-top: 20px;
  margin-left: 200px;
  padding: 2px;
  border-radius: 20px;
  width: 320px;
  height: 42px;
}

input[type="search"] {
  border: none;
  background: transparent;
  color: inherit;
  border: none;
  border-radius: inherit;

  margin: 0;
  padding: 7px 8px;
  font-size: 15px;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  overflow: hidden;
  border: none;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath fill='%23ffffff' d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;

  width: 50px;
  padding: 0;
  margin: 0;
  text-indent: -999px;
  opacity: 0.6;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
   outline: none;
}

.top-nav {
  display: flex;

  width: 100%;
  height: 100px;
}

.qn {
  cursor: pointer;

  margin-top: 16px;
  margin-left: 50px;
}

.settings {
  cursor: pointer;

  margin-left: -20px;
  margin-top: -11px;
}

.Login {
  margin-left: auto;
  cursor: pointer;

  margin-top: -6px;
  margin-right: 10px;
}

.Nav {
  margin-top: -20px;
  display: flex;
  justify-content: center;
  
}

.Nav a{
  color: rgb(190, 185, 185);
  list-style: none;
  padding: 15px;
  text-decoration: none;
  font-size: 16px;
  }
 

.Nav a:first-child {
  margin-left: -400px;
}

.cat-nav {
  display: flex;
  justify-content: flex-end; 
  flex-wrap: wrap-reverse;
  position: fixed;  

  right: 20px;
  width: 250px;
}

.cat-nav a {
  text-decoration: none;
  color: white;
  background-color: #2D2D2E;

  padding: 6px;
  margin-left: 5px;
  margin-bottom: 6px;
  border-radius: 20px;
  font-size: 16px;
  border: 1px white solid;
}

.cat-nav a:hover {
  background-color: #202124;
  color: rgb(92, 202, 184);
}


.Home {
  position: relative;
  margin-top: 200px;
}

.Content {
  background-color: #202124;

  border-radius: 20px;
  margin-top: -70px;
  width: 850px;
  margin-left: 150px;
  height: 100%;
}

.Content h4{
  color:rgba(17, 136, 136, 0.856);

  margin-left: 30px;
   padding: 10px;
   font-size: 25px;
}

.Content hr {
  width: 730px;
  margin-left: 40px;
}

.Content .card {
  position: relative;
  display: flex;
  justify-content: space-around;

  margin-top: 20px;
  margin-left: 30px;
}


.context-btn {
  background-color: crimson;
  text-decoration: none;
  

  padding: 10px;
  border-radius: 20px;
  color: rgb(2, 49, 49);
}

.btn1 {
  position: absolute;
  right: 30px;
}

.btn2 {
  position: absolute;
  background-color:rgb(36, 228, 235) ;

  right: 30px;
  bottom: 20px;
}


.breifing{
  z-index: 2;
  width: 150px;
  position: fixed;
}

.breifing h3{
  font-size: 18px;
  color: #78787B;
}

.breifing p {
  color: #C8C8CA;
  font-size: 20px;
}

.Home footer {
  height: 50px;
}

.card {
  border-bottom: 1px solid rgb(141, 174, 187);
  padding: 10px;
  width: 740px;

  padding-bottom: 60px;
}

.card:last-child {
  border: none;
}

.context h2 {
  position: absolute;
  color: #9BDBFF;

  top: 2px;
  left: 60px;
  padding: 2px;
  font-size: 20px;
  width: 400px;
}


.magnitude,
.cord,
.date,
.image {
  color: #c9cfc5;
}

.image {
  margin-left: -200px;
  margin-top: 70px;

  height: 200px;
  border-radius: 20px;
  width: 400px;
  border: 1px solid rgb(78, 75, 75);
}

.cont {
  position: absolute;
  top: 70px;

  right: -50px;
  font-size: 18px;
}

.cord, 
.magnitude,
.date{
  padding: 10px;
}

.magnitude {
  width: 300px;
  height: 100px;
  word-wrap: break-word;
}

.not-loaded {
  position: absolute;
  background-color: #202124;
  border-radius: 20px;

  width: 500px;
  height: 300px;
  left: 400px;

}
.not-loaded h4 {
  color: white;

  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
}

.not-loaded p {
   color:rgba(49, 112, 112, 0.856);
   font-size: 20px;
   padding: 10px;
   margin-top: 90px;
}

/* .not-loaded h3 {
  color: rgba(49, 112, 112, 0.856);
  
  padding: 20px;
  margin-top: 110px;
  margin-left: 130px; 
  font-size: 30px;
} */


.loader {
  display: flex;
  align-items: center;
  position: absolute;

  top: 40%;
  left: 40%;
  padding: 20px;
  font-size: 30px;
}

.bar {
  display: inline-block;
  animation: scale-up4 1s linear infinite;
  background-color: rgba(47, 148, 231, 0.5);

  width: 3px;
  height: 20px;
  border-radius: 10px;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: .25s;
}

.bar:nth-child(3) {
  animation-delay: .5s;
}

.side-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
  background-color: #161718;

  border-radius: 20px;
  top: 220px;
  right: 6px;
  z-index: 3;
}

.side-nav h3{
  align-self: center;
  font-size: 20px;
  color: rgba(17, 136, 136, 0.856);
}

.cat-links {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  color: rgb(62, 207, 188);
  box-shadow: rgba(70, 62, 62, 0.07) 0px 1px 1px, rgba(236, 219, 219, 0.07) 0px 2px 2px, rgba(228, 219, 219, 0.07) 0px 4px 4px, rgba(218, 210, 210, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

  font-size: 20px;
  font-weight:600;
  padding: 10px;
  margin: 5px;
  width: 300px;
  height: 90px;
  border-radius: 20px;
}

.cat-links::before {
  content: '';
  position: absolute;
  background-color: #01151a;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .6;
}

.cat-links > p {
  position: absolute;
  top: 30px;
  left: 70px;
}

.one {
  background-image: url(src/images/severe-storms.jpeg);
  background-size: cover;
  background-position: left center;
}

.two {
  background-image: url(src/images/sea-and-lake-ice.jpg);
  background-size: cover;
  background-position: left center;
}

.three {
  background-image: url(src/images/volcanos.webp);
  background-size: cover;
  background-position: left center;
}

.three > p{
  left: 100px;
}

.four {
  background-image: url(src/images/Wildfires.webp);
  background-size: cover;
  background-position: left center;
}

.four > p{
  left: 100px;
}

.dash {
  display: flex;
  border: 1px white solid;

  border-radius: 20px;
  margin-top: 200px;
   height: 440px;
   width: 90%;
   margin-left: 70px;
}

/* user dashboard */

.about {
  background-color: blue;
  border-right: 1px solid white;

  padding: 20px;
  width: 300px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.about div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  background-image: url(src/images/barner.jpeg);
  background-position: top;
  background-size: cover;

  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid white;
}

.about h3{
  color: white;
  border-right: 1px solid white;

  border-radius: 20px;
  padding: 4px;
}

.about .stats {
  font-size: 19px;
  color: red;
}


@keyframes scale-up4 {
  20% {
    background-color: rgb(9, 53, 78);
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}
